h1 {
    font-size: 60px;
    text-align: center;
  }
  
  p, p1, li {
    list-style-type: none;
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
  }
  .image-container {
    display: flex;
  }
  
 
  
  